<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="">
        <a href="/">Home</a>

        <a href="/about">About</a>
        <a href="/docs">Docs</a>
        <a href="/blog">Blog</a>
        <a href="/contacts">Contacts</a>
    </header>

    <div class="content">
        {% block content%}
        {% endblock%}
    </div>

    <footer class="">
        <a href="/">Home</a>
        
        <a href="/about">About</a>
        <a href="/docs">Docs</a>
        <a href="/blog">Blog</a>
        <a href="/contacts">Contacts</a>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>